.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  background: var(--search-bg);
  border: 1px solid rgba(74, 140, 255, 0.4);
  border-radius: 12px;
  padding: 8px 12px;
  padding-left: 35px; /* For icon */
  color: var(--text);
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
}

.input:hover {
  border-color: var(--primary);
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(230, 241, 255, 0.7);
}